<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
         http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
         http://www.springframework.org/schema/util 
         http://www.springframework.org/schema/util/spring-util.xsd
         http://www.springframework.org/schema/context 
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/tx
      	 http://www.springframework.org/schema/tx/spring-tx.xsd
         http://www.springframework.org/schema/aop 
         http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        ">


	<aop:aspectj-autoproxy />
	<aop:config proxy-target-class="true" />


	<context:annotation-config />
	<context:component-scan
		base-package="org.nammabank.service ; org.nammabank.transaction.services; org.nammabank.aoplogging ;
 org.nammabank.controller ; org.nammabank.utility; org.nammabank.hibernatedao ; org.namma.dummy ;org.nammabank.transaction.hibernatedao;
 org.nammabank.transaction.objects ;org.nammabank.transaction.dboperations; org.nammabank.utility " />

	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url"
			value="jdbc:postgresql://127.0.0.1:5432/NammaDatabase" />
		<property name="username" value="postgres" />
		<property name="password" value="bhaskar" />
	</bean>


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="org.nammabank.modelObjects" />
		<property name="annotatedClasses">
			<list>
				<value>org.nammabank.modelObjects.UserInfo</value>
				<value>org.nammabank.modelObjects.SavingsAccountDetails</value>
				<value>org.nammabank.modelObjects.LoanAccountDetail</value>
				<value>org.nammabank.modelObjects.Account</value>
				<value>org.nammabank.modelObjects.BankDetail</value>
				<value>org.nammabank.modelObjects.Address</value>
				<value>org.nammabank.modelObjects.GroupDetails</value>
				<value>org.nammabank.transaction.objects.BankTransactions</value>
				<value>org.nammabank.transaction.objects.LoanTransaction</value>
				<value>org.nammabank.transaction.objects.SavingsTransactions</value>
				<value>org.nammabank.transaction.objects.LoanRecoveryTransactions
				</value>
				<value>org.nammabank.transaction.objects.TemplateForms</value>
				<value>org.nammabank.utility.TransactionMonth</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">validate</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="propertyFields"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:AllProperties.properties</value>
		</property>
	</bean>
</beans>